html, body {
	font-family: Raleway,Georgia,"Times New Roman",Times,serif;
}

a {
	color: #2991ed ;
}

a.nav-link {
	color:white !important;
}

.active > a.nav-link {
	color:#61C5ED !important;
}

main {
    margin-top: 120px;
    margin-bottom:80px;
}