<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- TITRE À CHANGER POUR CHAQUE PAGE - notation : "Le titre" | TECFA -->
    <title>{{{Votre nom}}} | TECFA</title>
    <!-- Bootstrap TECFA theme CSS -->
    <link
      rel="stylesheet"
      href="https://tecfa.unige.ch/assets-global/css/tecfa.css"
    />
    <link
      rel="stylesheet"
      href="https://tecfa.unige.ch/assets-global/css/fontawesome/css/all.css"
    />
    <!-- Favicons -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <!-- HEADER -->
    <header>
      <nav
        class="navbar navbar-expand-md navbar-dark bg-tecfa-primary fixed-top"
        id="main-tecfa-nav"
      >
        <div class="container">
          <a class="navbar-brand" href="https://tecfa.unige.ch/">
            <img
              src="https://tecfa.unige.ch/assets-global/logos/tecfa_logo_navbar.svg"
              style="height: 50px"
            />
          </a>
          <button
            class="navbar-toggler hidden-lg-up"
            type="button"
            data-toggle="collapse"
            data-target="#main-tecfa-nav-links"
            aria-controls="main-tecfa-nav-links"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main-tecfa-nav-links">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item pr-2">
                <a class="nav-link" href="https://tecfa.unige.ch/fr/membres"
                  >Voir les autres membres (FR)</a
                >
              </li>
              <li class="nav-item px-0">
                <a
                  class="nav-link mr-0 pr-0"
                  href="https://tecfa.unige.ch/en/members/"
                  >See other members (EN)</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- END OF THE HEADER -->
    <!--

      **** Changer le contenu à partir d'ici

    -->
    <!-- MAIN -->
    <main class="mt-5 pt-5">
      <div class="container mt-4">
        <!-- Nom et fonction -->
        <hgroup>
          <h1>{{{Votre nom}}}</h1>
          <h5 class="bg-light p-2 border border-gray">{{Votre fonction}}</h5>
        </hgroup>
        <div class="row mt-4">
          <!-- Partie gauche de la page (Contenu textuel) -->
          <div class="col-md-8">
            <div class="mb-0">
              <!-- Chaque section doit commencer par un titre de niveau 3 <h3>Titre</h3> -->

              <!-- Section présentation -->
              <h3>Présentation</h3>
              <p>Texte</p>
            </div>

            <!-- Section intérêts (avec un "wrapper" coloré autour) -->
            <div class="p-3 bg-tecfa-primary text-white">
              <h3>Axes et intêrets de recherche</h3>
              <ul class="fa-ul fa-unstyled text-white lead ml-4">
                <!-- List des axes/intêrets, à copier le <li>...</li> entier-->
                <li>
                  <span class="fa-li">
                    <i class="fas fa-caret-right"></i>
                  </span>
                  Axe/intérêt... ;
                </li>
              </ul>
            </div>

            <!-- Section Enseignements -->
            <h3 class="mt-3">Enseignements</h3>
            <p>Texte...</p>
            <ul>
              <li>
                <a href="Cours">Titre du cours...</a>
              </li>
            </ul>

            <p>Paragraphe...</p>

            <!-- Section publication -->
            <h3 class="mt-3">Publications</h3>
            <p class="lead">Texte...</p>
            <ul>
              <li>
                <a href="#">Mon profil Researchgate</a>
              </li>
              <li>
                <a href="#">L'Archive ouvert de l'Université de Genève</a>
              </li>
            </ul>
            <!-- Autre section -->
            <h3>Titre de la section</h3>
            <p class="lead">Texte plus grand</p>
            <p>Texte normal</p>
            <p class="bg-tecfa-primary p-2 text-white">Texte avec fond...</p>
          </div>

          <!-- Partie droite avec photo et contacts -->
          <div class="col-md-4">
            <img
              src="https://tecfa.unige.ch/assets-global/people/placeholder-female.svg"
              class="img-fluid border border-gray"
              alt="{{{Votre nom}}}"
              title="{{{Votre nom}}}"
            />
            <div class="mt-3 p-3 bg-dark text-white border border-gray">
              <h4>Contacts</h4>
              <ul class="list-unstyled mb-0">
                <!-- Adresse -->
                <li class="mb-3">
                  TECFA - FPSE<br />
                  Bureau ???<br />
                  Villa Battelle (Bâtiment A)<br />7, Route de Drize<br />1211
                  Genève 4<br />
                </li>
                <!-- Tél et Email-->
                <li class="mb-3">
                  Phone: +41 22 ??? ?? ??<br />Email:
                  <!-- Changer href et label -->
                  <a href="mailto:prenom.nom@unige.ch">Prénom.Nom@unige.ch</a>
                </li>
                <!-- Reseau sociaux, voir https://fontawesome.com/icons?d=gallery&s=brands pour une liste des icônes -->
                <li class="mb-3">
                  <ul class="list-unstyled list-inline media-links">
                    <!-- Effacer le <li>...</li> si vous n'avez pas besoin -->

                    <!-- Twitter -->
                    <li class="list-inline-item">
                      <a href="#" class="text-white">
                        <i class="fab fa-twitter fa-2x"></i>
                      </a>
                    </li>

                    <!-- GitHub -->
                    <li class="list-inline-item">
                      <a href="#" class="text-white">
                        <i class="fab fa-github fa-2x"></i>
                      </a>
                    </li>

                    <!-- Linkedin -->
                    <li class="list-inline-item">
                      <a href="#" class="text-white">
                        <i class="fab fa-linkedin fa-2x"></i>
                      </a>
                    </li>
                    <!-- Researchgate -->
                    <li class="list-inline-item">
                      <a href="#" class="text-white">
                        <i class="fab fa-researchgate fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </li>

                <!-- Bouton vers le site perso, effacer <li>...</li> si pas besoin -->
                <li>
                  <a
                    class="btn btn-lg btn-tecfa-orange text-white btn-block"
                    href="#"
                  >
                    <i class="fas fa-link"></i> Site personnel
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- END OF MAIN -->

    <!-- FOOTER -->
    <footer class="bg-dark text-white p-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h5 class="text-white text-uppercase">Nous contacter</h5>
            <span class="text-white-50"
              >TECFA - Université de Genève<br />Villa Battelle (Bâtiment A)<br />7,
              Route de Drize<br />1211 Genève 4<br />T. +41 (0)22 379 93
              20</span
            ><br />

            <a class="" href="https://www.unige.ch/presse/plans/battelle"
              >Plan d'accès</a
            >
          </div>
          <div class="col-sm">
            <h5 class="text-white text-uppercase">Liens</h5>
            <a class="" href="http://tecfalms.unige.ch/moodle/">Moodle TECFA</a
            ><br />
            <a class="" href="http://edutechwiki.unige.ch/fr/Accueil"
              >EduTechWiki</a
            ><br />
            <a class="" href="http://tecfa.unige.ch/intranet">Intranet</a>
          </div>
          <div class="col-sm">
            <h5 class="text-white text-uppercase">Médias sociaux</h5>
            <ul class="list-unstyled list-inline media-links">
              <li class="list-inline-item">
                <a href="https://www.twitter.com/tecfa">
                  <i class="fab fa-2x fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.researchgate.net/lab/TECFA-Unite-TECFA">
                  <i class="fab fa-2x fa-researchgate fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm">
            <a href="https://www.unige.ch/fapse/">
              <img
                class="img-fluid"
                src="https://tecfa.unige.ch/assets-global/logos/fapse_white_logo.svg"
              />
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- END OF FOOTER -->

    <!-- REQUIRED JS FILES -->
    <script src="https://tecfa.unige.ch/assets-global/js/jquery.slim.min.js"></script>
    <script src="https://tecfa.unige.ch/assets-global/js/popper.min.js"></script>
    <script src="https://tecfa.unige.ch/assets-global/js/bootstrap.min.js"></script>
    <!-- END OF REQUIRED JS FILES -->
  </body>
</html>
